<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.2</version>
    <name>DDelivery</name>
    <description>Модуль пунктов выдачи товара менять во время DDelivery</description>
    <icon>icon.png</icon>
    <category>order</category>
    <adminmenu>
        <title>DDelivery</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>point_75x75.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/ddelivery/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Отправить заявки с подходящим статусом</podmenu_name>
            <podmenu_icon>point_75x75.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/ddelivery/admpanel/status.php?action=1',510,450);</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Синхронизировать статусы</podmenu_name>
            <podmenu_icon>point_75x75.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/ddelivery/admpanel/status.php?action=2',510,450);</podmenu_action>
        </podmenu>
    </adminmenu>
</module>